.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    gap: 1.875rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

.mensaje-final {
    font-size: 1rem;
    color: #808080;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-links svg {
    color: aliceblue;
    transition: color 0.5s ease;
    font-size: 2rem;
}

.footer-links svg:hover {
    color: #00ff6a;
}

hr {
    width: 90%;
    border: 1px solid #808080;
}

.copyright {
    color: #808080;
    font-size: 0.75rem;
}