.contenedor-habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
}

.titulo-habilidades {
  color: aliceblue;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 60px;
  font-size: 1.875rem;
  font-weight: 100;
}

.habilidades {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
  width: 70%;
}

.tarjeta {
  display: flex;
  align-items: center;
  height: 55px;
  width: 180px;
  padding: 7px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
}

.icono {
  height: 40px;
  width: 40px;
  background-color: rgb(50, 50, 50);
  padding: 5px;
  border-radius: 10px;
}

.info-habilidad {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.info-habilidad h4 {
  color: aliceblue;
  font-size: .9375rem;
  font-weight: lighter;
  margin-block-start: 0;
  margin-block-end: 0;
}

.info-habilidad p {
  color: rgb(100, 100, 100);
  font-size: .9375rem;
  font-weight: lighter;
  margin-block-start: 0;
  margin-block-end: 0;
}

.otras-habilidades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .3125rem;
  width: 70%;
  margin: 0 auto;
}

.otras-habilidades p {
  background-color: rgb(50, 50, 50);
  color: aliceblue;
  font-size: .9375rem;
  font-weight: 100;
  padding: 5px 10px;
  border-radius: 20px;
}

@keyframes floatInfinite {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.contenedor-habilidades .tarjeta {
  animation: floatInfinite 4s ease-in-out infinite;
}

.contenedor-habilidades .tarjeta:nth-child(1) {
  animation-delay: 0s;
}

.contenedor-habilidades .tarjeta:nth-child(2) {
  animation-delay: 0.2s;
}

.contenedor-habilidades .tarjeta:nth-child(3) {
  animation-delay: 0.4s;
}

.contenedor-habilidades .tarjeta:nth-child(4) {
  animation-delay: 0.6s;
}

.contenedor-habilidades .tarjeta:nth-child(5) {
  animation-delay: 0.8s;
}

.otras-habilidades p {
  animation: floatInfinite 4s ease-in-out infinite;
}

.otras-habilidades p:nth-child(1) {
  animation-delay: 0s;
}

.otras-habilidades p:nth-child(2) {
  animation-delay: 0.2s;
}

.otras-habilidades p:nth-child(3) {
  animation-delay: 0.4s;
}

.otras-habilidades p:nth-child(4) {
  animation-delay: 0.6s;
}

.otras-habilidades p:nth-child(5) {
  animation-delay: 0.8s;
}