.titulo-proyectos {
    color: aliceblue;
    text-align: center;
    padding-top: 1.5625rem;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
    font-size: 1.875rem;
    font-weight: lighter;
    animation: change linear forwards;
    animation-timeline: view(block 85% auto);
}

.presentacion-proyectos {
    color: aliceblue;
    text-align: center;
    font-size: .9375rem;
    font-weight: 100;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 50px;
    animation: change linear forwards;
    animation-timeline: view(block 85% auto);
}

.boton-pagina-proyectos {
    display: flex;
    border: 0;
    background-image: linear-gradient(150deg, rgb(0, 255, 106) 20%, rgb(0, 255, 255) 60%);
    border-radius: 10px;
    color: aliceblue;
    padding: 4px;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s;
    animation: change linear forwards;
    animation-timeline: view(block 85% auto);
}

.boton-pagina-proyectos a {
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.boton-pagina-proyectos a:hover {
    background: none;
}

.boton-pagina-proyectos:active {
    transform: scale(0.9);
}