.titulo-proyectos {
    color: aliceblue;
    text-align: center;
    padding-top: 1.5625rem;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
    font-size: 1.875rem;
    font-weight: lighter;
    animation: change linear forwards;
    animation-timeline: view(block 50% auto);
}

.tarjeta-proyecto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .9375rem;
    padding: 20px;
    margin-bottom: 1.25rem;
    animation: change linear forwards;
    animation-timeline: view(block 90% auto);
}

.tarjeta-proyecto img {
    height: 250px;
    width: 400px;
    border-radius: 10px;
    object-fit: fill;
}

.info-proyecto {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    font-weight: lighter;
    color: aliceblue;
    max-width: 400px;
}

.titulo-proyecto {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-bottom: 0rem;
}

.descripcion-proyecto {
    font-size: .9375rem;
    margin-bottom: 0rem;
}

.herramientas-utilizadas {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.herramientas-utilizadas span {
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    font-size: .9375rem;
    font-weight: lighter;
    padding: 5px 10px;
    border-radius: 20px;
}

.boton-proyecto {
    margin-top: .625rem;
}

.btn-enlace {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    font-size: .9375rem;
    font-weight: lighter;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-enlace:hover {
    color: #010101;
    background-color: #00ffff;
    box-shadow: 0 0 20px #00ffff, 0 0 20px #00ffff, 0 0 20px #00ffff;
}

.bi.bi-box-arrow-up-right {
    font-size: .75rem;
    margin-left: .625rem;
}

@media (max-width: 425px) {
    .tarjeta-proyecto img {
        height: 200px;
        width: 320px;
    }

    .info-proyecto {
        min-width: 320px;
    }
}


